<p style="color: green"><%= notice %></p>

<h1><%= t("posts.title") %></h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to t("posts.show"), post %>
    </p>
  <% end %>
</div>

<%= link_to t("posts.new"), new_post_path %>
