<%= turbo_stream_from @post %>

<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to t("posts.edit"), edit_post_path(@post) %> |
  <%= link_to t("posts.back"), posts_path %>

  <%= button_to t("posts.delete"), @post, method: :delete %>
  <%= render "posts/comments", post: @post %>
</div>
